
* {
    font-family: sans-serif;
    box-sizing: border-box;
  }

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color:#000;
}
.wrapper{
    background: url(/asset/img/bg-img.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
  
}


.container-header{
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container {
  max-width:1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:1em 0px;
  
  }
  .logo{
    font-size: 40px;
    font-weight: bold;
    color: green;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content{
    margin-top:10em;
  }

  .header-text{
   color:green;
   margin-bottom:-14px;
  }

  .content h2{
    text-transform:uppercase;
    font-size: 50px;
    margin-top: 20px;
  }

  .text-content{
    width:50%;
    margin-top:-20px;
  }
 
  .button-container{
    display:flex;
    margin-top:3em;
  }

  .button-container  > * + *{
    margin-left:3em;
  }
  .btn {
    border-radius: 0.32rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.08rem 0.4rem gray;
    color: #000;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.8rem 2.2rem;
    text-shadow: 0 -0.08rem 0.08rem #222639;
    text-transform: uppercase;
}

.btn2{
  border-radius: 0.32rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.08rem 0.4rem gray;
  color: #000;
  cursor: pointer;
  line-height: 1.5;
  padding: 0.8rem 2.2rem;
  text-shadow: 0 -0.08rem 0.08rem  #222639;
  text-transform: uppercase;
  
}

.btn:hover {
  color: #000;
  background:green;
  border-color: green;
}

.btn2:hover {
  color: #000;
  border:2px solid green;
}



  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: green;
    position: absolute;
    height: 4px;
    width: 30px;
    /* transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); */
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 34px;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .logo{
      font-size: 40px;
      font-weight: bold;
      color: green;
      padding-left:0px;
    }

    .top-nav {
      justify-content: space-between;
  }
  
    .text-content{
    width:100%;
  }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
  }